[2022-03-24 13:21] ikramhasan opened #20 "Generate waveform from an URL?"
Great package! I needed something just like this for our app. The documentation shows how to generate a waveform by recording audio. But is there a way to generate waveforms from an URL or local audio file? Thanks.

[2022-03-25 05:17] ujas-m-simformsolutions commented on #20
Hello @ikramhasan, Thank you for first issue. Unfortunately, you can't generate waveforms from url or local audio files. But we are currently working on that feature. I will update here whenever it get's released.

[2022-03-29 15:04] amsyary opened #21 "Waveform timer listener.?"
very good package, the waveform audio package in flutter is mostly outdated, I understand this package is still new but one feature that is quite cool I think is the timer listener when the waveform is scrolled we can get the time position of the audio, and we can play the audio right at the scroll position

[2022-03-30 05:13] ujas-m-simformsolutions commented on #21
@amsyary  If I understand you correctly, you want an audio player with waveform in which you can tap on any wave position and play audio from there?

[2022-03-30 05:58] amsyary commented on #21
Yes, that's right, it will be very useful when we finish recording our voice, scroll through the waveform, and play the audio right on the red line, I can use the audio player library, but I'm still confused about integrating it with this waveform library, this library has a lot of potential to be popular

[2022-04-19 14:55] zaycode opened #24 "return path recording"
how to get path of recording?

[2022-04-20 01:53] #24 closed

[2022-04-20 02:25] MapperMalte opened #25 "E/AudioWaveforms(17220): Microphone might be turned off"
Thank you for this package.
I am getting this error message repeatedly when trying out the example code.
However, it seems to work fine. The WaveForm appears to show the negative of the input. When I record, it gets small, when I am silent, it is at max.

Best regards!

[2022-04-21 05:58] ujas-m-simformsolutions commented on #25
If you are using an android emulators to test then android emulators doesn't pick up microphone sometimes so it does not provide any audio data so that's why you are getting that warning.

Now for your second question, have you changed anything on the example app if yes then can you share the code. If not then can you share what device you were using. And also You can use the `normalizationFactor`

[2022-04-21 06:27] ujas-m-simformsolutions commented on #24
If anyone ever stumbles upon this, when call `stop()` it returns path to that recording as mentioned in the documentation.

[2022-04-21 12:47] clemortel opened #26 "Clear waveData"
Hey, what a great package, very good job !

I have used to record and after I want to preview it, it works fine but I want to clear the waveData manually and I've seen it's not possible since the method reset is private.

Could you made it public to let us use it ?

Thanks a lot !

[2022-04-22 08:56] ujas-m-simformsolutions commented on #26
Hey @clemortel, yes after releasing the first thing I noticed was this so if you check this [PR](https://github.com/SimformSolutionsPvtLtd/audio_waveforms/pull/23), it is resolved there. But that PR had some issue with multiple players so that's why it has not been merged yet.

[2022-04-27 06:41] #20 closed

[2022-05-03 09:34] 99gony opened #33 "can't import RecorderController in "import 'package:audio_waveforms/audio_waveforms.dart'""
There's only WaveController exist.
Can I use WaveController instead of RecorderController?

[2022-05-03 09:42] 99gony commented on #33
sorry, I first see github repository instead of pub.dev.

[2022-05-03 09:42] #33 closed

[2022-05-03 11:24] ujas-m-simformsolutions commented on #21
Hey @amsyary, we have released `audio_waveforms: ^0.1.1`. Which has this feature you can check out [here](https://pub.dev/packages/audio_waveforms)

[2022-05-03 11:24] #21 closed

[2022-05-03 11:25] ujas-m-simformsolutions commented on #26
Hey @clemortel we have released `audio_waveforms: ^0.1.1` which fixes this issue you can check out [here](https://pub.dev/packages/audio_waveforms)

[2022-05-03 11:25] #26 closed

[2022-05-03 11:27] ujas-m-simformsolutions commented on #33
Hey @99gony we have released the new version you can you use that from now.

[2022-05-03 11:29] ujas-m-simformsolutions commented on #20
@ikramhasan and everybody waiting for this, we have released `audio_waveforms: ^0.1.1` with this feature. Check it out [here](https://pub.dev/packages/audio_waveforms)

[2022-05-03 11:30] ujas-m-simformsolutions commented on #25
`WaveController` is now renamed to `RecorderController`

[2022-05-03 11:33] 99gony commented on #33
Thank you!
This package is awesome.

[2022-05-03 12:21] 99gony opened #35 "file path error in playerController"
I want to record and then play the file.
Code like this
![Screen Shot 2022-05-03 at 9 15 46 PM](https://user-images.githubusercontent.com/72787759/166451451-ba3e014b-4d55-4a12-bf34-26efee1371cf.png)

But, occur this error.
![Screen Shot 2022-05-03 at 9 16 27 PM](https://user-images.githubusercontent.com/72787759/166451597-bdee2730-3ba4-4cfe-8639-f2e1db9d1ba9.png)

Test in my real device iphone8+.

[2022-05-03 12:42] ujas-m-simformsolutions commented on #35
Hey @99gony, Can you try removing `file//:` from beginning of the path and keep only one `/`.

[2022-05-03 13:13] 99gony commented on #35
I solved. Very Thanks.

I have one more problem I think.
Recording wave sync is good, but playing wave sync is weird.

[2022-05-03 13:21] ujas-m-simformsolutions commented on #35
@99gony Did provided solution solved your problem? And can you provide more feedback for playing wave like how should it behave in your perspective so that we can improve the plugin.

[2022-05-03 13:22] 99gony commented on #35
re

[2022-05-03 13:34] 99gony commented on #35
I just do like this on Ios.
path = await recorderController.stop();
    final p = path!.substring(7);
    print(p);
    await playerController.preparePlayer(p);

And, the playing wave is weird. It looks like Randomly render wave.
I recorded no sound and stop it. (recording wave is good)
But playing wave looks like very activity.
Both android and ios.

[2022-05-03 13:44] ujas-m-simformsolutions commented on #35
Thank you for you feedback I will look into this. And closing the as path required just to remove some characters at beginning.

[2022-05-03 13:44] #35 closed

[2022-05-03 13:44] 99gony commented on #35
I hope Playing wave is be same recording wave.
And hope playing wave's animation is more softly like recording wave.

[2022-05-03 14:00] 99gony opened #36 "pause on recording issue"
I pause recording and then start record, recording wave is no problem.
But I stop recording and playing file, there's only last record thing exist. Before last pause are disappear.

[2022-05-04 05:42] ujas-m-simformsolutions commented on #36
Ok this is a bug on `ios`, for me android works fine. Thank you for reporting the bug, we will soon release the patch

[2022-05-04 11:12] ujas-m-simformsolutions commented on #25
@MapperMalte are you still facing this issue?

[2022-05-05 09:35] #36 closed

[2022-05-05 13:33] srcho opened #38 "how can I get state when finished?"
When the player is finished, how can I get state? The controller.stop or pause is not received by the listener. Even when I print out the log, it stops at state.playing.

[2022-05-05 14:10] ujas-m-simformsolutions commented on #38
Hey @srcho, A listener for `playerState`  is yet to be implemented.  But  `playerController.playerState` will receive the new state whenever there is a change in playerState. Can you share your code so that we can test it?

[2022-05-06 01:01] srcho commented on #38
Thank you for your quick response. What I tested is your example code. Among them, the controller 5 utilizes the recording function. After the recorded file is created and played, the Stop button is activated even if the entire length is played. I just modified the listener a little bit in your example code.

playerController1 = PlayerController()
      ..addListener(() {
        print(playerContr

[2022-05-06 05:07] Ujas-Majithiya commented on #38
Ok sorry I misunderstood at first, I thought after calling `stopPlayer()`, it wasn't getting the state. Anyways, yes it's a bug and I think should also provide a listener for current duration. Ok thank you for reporting this we will soon release a patch for this

[2022-05-06 11:33] purelog1c opened #39 "Is there a way to add different codec than standard Android? such as encoding in PCM16"

[2022-05-06 14:39] Ujas-Majithiya commented on #39
On the native android side, this plugin is dependent on `MediaRecorder` which doesn't support `pcm16`. To support it, we have to use `AudioRecord`. For now, there are no plans to change the base recorder class. And this plugin is more focused on `Waveforms` with basic recorder/player functionalities.

Right now, we plan to improve this plugin so this won't be worked on near future.

[2022-05-06 14:41] ujas-m-simformsolutions commented on #39
closing this issue as for now

[2022-05-06 14:41] #39 closed

[2022-05-11 12:23] tonkla500 commented on #38
I have this problem too.

[2022-05-11 13:02] ujas-m-simformsolutions commented on #38
@tonkla500 you can use `feature/player-state-update` branch as it has patch for this and some new features ,until next the patch gets released.

[2022-05-13 13:27] 99gony opened #41 "After I upgrade flutter 3.0. build error on android"
/Users/gony/development/flutter/.pub-cache/hosted/pub.dartlang.org/audio_waveforms-0.1.1/android/src/main/kotlin/com/simform/audio_waveforms/AudioRecorder.kt: (20, 1): Class 'AudioRecorder' is not abstract and does not implement abstract member public abstract fun onRequestPermissionsResult(p0: Int, p1: Array<(out) String!>, p2: IntArray): Boolean defined in io.flutter.plugin.common.PluginRegistry

[2022-05-14 00:00] alejandrogiubel opened #42 "Web support"
Hi 👋🏼, Amazing plugin. You have in mind to add web support?

[2022-05-16 05:43] Ujas-Majithiya commented on #42
Hey @alejandrogiubel, adding other platforms is in the bucket but we first want to make the plugin stable enough for mobile platforms after that we be adding other platforms

[2022-05-16 09:34] ujas-m-simformsolutions commented on #41
Hey @99gony, This required just to remove `?` from a parameter. I have pushed the update code in this branch [`temp-3.0.0.fix`](https://github.com/SimformSolutionsPvtLtd/audio_waveforms/tree/temp-3.0.0.fix). For now, you can use this by adding git url in pubspec until we update sdk for plugin.

[2022-05-16 19:13] noygafni opened #43 "Waveforms of no sound at all appear at their max size instead of their min size"
My code:
[code]
For some reason the wave forms of absolute silence appear at max size.
Here is a photo - took the screenshot when there was no sound at all
![no sound bug](https://user-images.githubusercontent.com/48031215/168665308-dd971278-744d-4347-86a2-25056ecec306.png)

It is important to mention that when there is sound the waveforms seems to work as expected.

[2022-05-16 19:16] noygafni opened #44 "The last wave form is always flickering when recording"
My code:
[code]
For some reason the last wave form always appears to be flickering:
![recording flickering bug](https://user-images.githubusercontent.com/48031215/168665887-9dcf3e87-26a0-4647-bc98-1eb7b798d8c2.gif)

Is this a bug? or am I doing something wrong?

[2022-05-17 03:13] HytenoTech opened #45 "Invalid file"
final path = await recorderController.stop();
    final String finalPath = path!.substring(7);
    File file = File(finalPath);
    bool filepresence = await file.exists();
    print(filepresence);

This is giving me invalid file and player controller is also saying invalid file path

[2022-05-17 05:38] ujas-m-simformsolutions commented on #43
From your this #44 issue I see you are using an emulator. Can you please test it on a real device because android emulators behave weirdly in different scenarios?

[2022-05-17 05:51] ujas-m-simformsolutions commented on #44
Actually when a wave is generated the first time it just suddenly appears without any animation so that's why it looks flickering. I will put it under bug.

[2022-05-17 05:55] ujas-m-simformsolutions commented on #45
If you are using an emulator it might not require the `substring` part else can you share which device you are using?

[2022-05-17 05:58] ujas-m-simformsolutions commented on #25
Closing this issue as no updates were provided.

[2022-05-17 05:58] #25 closed

[2022-05-17 13:06] HytenoTech commented on #45
Done the issue was bad format of the path you are returning  the path was returned like

[2022-05-17 13:10] HytenoTech opened #46 "How to listen to state when player completes playing audio?"

[2022-05-17 15:39] ujas-m-simformsolutions commented on #46
Please refer to this #40

[2022-05-17 15:39] #46 closed

[2022-05-17 15:41] ujas-m-simformsolutions commented on #45
@HytenoTech thank you for providing this. and I will update this.

[2022-05-17 23:08] renankanu commented on #43
Here the same thing happens, I tested it on a real device.

[2022-05-18 00:27] renankanu commented on #43
I found the possible cause, in `RecorderWavePainter` the `waveData[i]` is coming a negative value, using this condition the wave worked as it should: `(waveData[i] < 0 ? 0 : waveData[i])`.

[2022-05-18 00:45] renankanu commented on #43
Adding this `..normalizationFactor = 40`, works here for me. The default for android is 60.

[2022-05-18 05:14] noygafni commented on #43
That seems to improve this, thank you so much

[2022-05-18 07:37] #38 closed

[2022-05-19 06:10] hey-nicolasklein commented on #42
Just for my own interest, what are some aspects of the package that do not work on other platforms?

[2022-05-19 08:40] hey-nicolasklein opened #47 "Waveforms for extra long audios"
I'm recording interview sessions, each lasting more than 60 minutes. Displaying the whole waveform is to inaccurate to skim through the interview.

Is there any way to scroll vertically with the audio with the player?
The Audiorecorder does exactly what I want, just that I want a player with that style.

Thanks in advance for any help.

[2022-05-19 10:02] ujas-m-simformsolutions commented on #47
The waveforms for the player were primarily focused on chat-like UI with limited space for horizontal seek. We can put it under enhancement for future releases.

[2022-05-19 13:06] noygafni commented on #43
Acutely after a lot of testing setting the `..normalizationFactor = 40` is still not good enough. for some reason the sound waves does not react correctly to my voice. further more when I play the recording using `AudioFileWaveforms` the sound waves look completely different than the sound waves while recording. I think it is a bug.

[2022-05-19 13:39] noygafni opened #48 "Is there a way to listen to player reaching end of audio file?"
I am using `AudioFileWaveforms` to listen to an audio recording. I have a play button that turns into a pause button once the recording start. I achieve that using `addListener()` on the `PlayerController` as shown in the docs example. My problem is that I want to turn the pause button back to play button once the player reached the end of the recording. I can see that the listener is not called w

[2022-05-19 14:22] hey-nicolasklein commented on #47
Thank you, that would be nice. I'm currently working on a version where you vertically scroll a viewport of a specific duration. If that feature would be present in your package, it would really cover all the most important use cases around waveforms.

[2022-05-19 19:05] zzterrozz commented on #38
Please push this to `pub.dev` when you have a chance!

[2022-05-23 15:27] zzterrozz opened #49 "Push to Pub.dev + Flutter 3.0"
Can you please push the last version to pub.dev + fix the flutter 3.0 warning?

[2022-05-28 01:12] zaycode opened #50 "build error on android"
:audio_waveforms:verifyReleaseResources

[2022-06-07 05:45] ehsan097 opened #51 "Build Error with Flutter 3"
I upgrade flutter version to 3 then the plugin produces errors like.

audio_waveforms-0.1.1/android/src/main/kotlin/com/simform/audio_waveforms/AudioRecorder.kt: (20, 1): Class 'AudioRecorder' is not abstract and does not implement abstract member public abstract fun onRequestPermissionsResult(p0: Int, p1: Array<(out) String!>, p2: IntArray): Boolean defined in io.flutter.plugin.common.PluginRegis

[2022-06-07 06:55] #51 closed

[2022-06-07 07:21] william-herring opened #52 "Waveform scroll gesture can't begin with swipe to left"
I've noticed this strange behaviour where I can only begin with a swipe-right gesture to scroll through the waveform. I can swipe left but only if I begin the gesture with a swipe to the right. Below is the AudioWaveforms widget, let me know if you need the full code snippet. I have also attached a recording of this behaviour.

[code]

![image](https://user-images.githubusercontent.com/73984595/17

[2022-06-08 06:05] ehsan097 commented on #50
I also meet the same issue .kindly resolve it.

[2022-06-08 10:48] abhay-s-rawat commented on #41
I got fix for this

[2022-06-08 10:49] abhay-s-rawat commented on #41
https://github.com/SimformSolutionsPvtLtd/audio_waveforms/pull/53

[2022-06-09 22:04] bulgarian-beast opened #54 "Display waves and play content from web url like: https://example.com/example_audio.mp4"
Hey guys, I love this project, could you explain me how to generate waves from an http audio url?
I can't find any doc or example in the pub.dev link or by reading the sources.

To work around the problem I created a temporary file, but it would be nice to have a method to invoke fromUrl.
I'm posting this code to help someone who would like to read voice messages from a database.

    ElevatedButt

[2022-06-12 11:03] Technorocker commented on #48
I was just coming to see if this was possible myself.

[2022-06-15 11:30] bulgarian-beast commented on #48
Same

[2022-06-17 10:52] MyNameIsSkyFly opened #55 "how to resume recorder"

[2022-06-18 04:06] abellee commented on #51
me too.

[2022-06-19 01:42] babyken opened #56 "Example of a file path for player"
[code]

I would like to play a file which is saved in app directory
`/data/user/0/com.example.testdrive/app_flutter/mysound-2022-06-09_22:07:02.483249.mp4`

But it said
`Caused by: com.google.android.exoplayer2.upstream.HttpDataSource$HttpDataSourceException: java.net.MalformedURLException: no protocol: /data/user/0/com.example.testdrive/app_flutter/mysound-2022-06-09_22:07:02.483249.mp4`

I have

[2022-06-19 08:58] nawafAlkhadidi commented on #56
same hare

[2022-06-21 00:59] #55 closed

[2022-06-26 18:54] hasanmhallak opened #57 "Class 'AudioRecorder' is not abstract and does not implement abstract member public abstract fun onRequestPermissionsResult"
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.0.1, on macOS 12.4 21F79 darwin-arm, locale
    en-EG)
[✓] Android toolchain - develop for Android devices (Android SDK version
    32.1.0-rc1)
[✓] Xcode - develop for iOS and macOS (Xcode 13.2.1)
[✓] Chrome - develop for the web
[✓] Android Studio
[✓] VS Code (version 1.68.1)
[✓] Connected device (3 availab

[2022-06-27 16:31] khaled-muhammad opened #58 "Error while preparePlayer on ios 15.5 (using ios simulator not a real device)"
audio_waveforms/AudioPlayer.swift:23: Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=NSOSStatusErrorDomain Code=1685348671 "(null)"
Lost connection to device.

[2022-06-29 08:56] B33pin opened #59 "Error While Recording"
flutter: PlatformException(, Failed to start recording, null, null)

[2022-06-29 09:15] #59 closed

[2022-06-29 09:16] B33pin commented on #59
Sorry it was my fault the mic was used by another app so. You guys should have proper error log.

[2022-07-01 23:21] premy commented on #57
same here

[2022-07-02 08:29] hasanmhallak commented on #57
@premy I add a pull request that fix this issue, you can check that out.
#60

[2022-07-02 18:50] Joseph-Nathan commented on #42
thanks , it well be great support that .

[2022-07-04 22:50] zzterrozz commented on #49
@DevarshRanpara , [https://pub.dev/packages/audio_waveforms/changelog](https://pub.dev/packages/audio_waveforms/changelog) is still under version `audio_waveforms: ^0.1.1`

[2022-07-07 18:59] awnigharbia opened #61 "Question: How to return the stop icon after the record is finished playing ?"
I have an issue or misunderstanding where the audio player after finishing still showing the wrong icon. How can I reset it back after the record is finished?

[2022-07-09 19:22] awnigharbia opened #62 "How I can manage multiple players on the same page?"
I hope you can provide me an example of how to manage playercontroller with multiple widgets in the same list.

[2022-07-09 19:23] awnigharbia commented on #61
Seems a duplicate.

[2022-07-09 19:23] #61 closed

[2022-07-10 11:02] #62 closed

[2022-07-13 13:05] han-tm commented on #57
When this pull will merged?

[2022-07-13 20:29] zzterrozz commented on #41
Same problem here, why is the PR not merged in the main branch?

[2022-07-16 00:50] devDonald commented on #57
Please who has solved this issue

[2022-07-16 00:50] devDonald commented on #57
@hasanmhallak please any help?

[2022-07-21 09:51] AimanKyo97 opened #64 "Replay the audio player"
How to to replay the audio?
And how to do function if the audio play is already end?

@tejas-ardeshna  @BirjuVachhani  @DevarshRanpara  @vatsaltanna-simformsolutions  @ujas-m-simformsolutions

[2022-07-22 06:14] ehsan097 opened #65 "Release Build failed due to verifyReleaseResources"
Execution failed for task ':audio_waveforms:verifyReleaseResources

[2022-07-23 00:35] william-herring commented on #56
Hi @babyken, please refer to issue https://github.com/SimformSolutionsPvtLtd/audio_waveforms/issues/35 to help with your problem.

[2022-07-25 14:58] DhavalRKansara commented on #64
This issue has been fixed, you will find the updates in the next release. For now you can get this plugin direct from the main branch on the Github repository. You just have to set `controller.startPlayer(finishMode: FinishMode.loop)` to play the audio in loop.

[2022-07-26 10:52] DhavalRKansara commented on #57
Duplicate of #50

[2022-07-26 10:52] #57 closed

[2022-07-26 10:52] DhavalRKansara commented on #65
duplicate of #50

[2022-07-26 10:52] DhavalRKansara commented on #65
duplicate of #50

[2022-07-26 10:52] #65 closed

[2022-07-26 10:54] DhavalRKansara commented on #49
duplicate of #41

[2022-07-26 10:54] #49 closed

[2022-07-27 03:22] #41 closed

[2022-07-27 03:22] #50 closed

[2022-07-28 00:25] hatemragab commented on #42
+1

[2022-07-28 06:10] GreatEric opened #68 "Android error: Class 'AudioRecorder' is not abstract and does not implement abstract member public abstract fun onRequestPermissionsResult"
/Users/kkkkk/SDKS/flutter/.pub-cache/hosted/pub.dartlang.org/audio_waveforms-0.1.1/android/src/main/kotlin/com/simform/audio_waveforms/AudioRecorder.kt: (20, 1): Class 'AudioRecorder' is not abstract and does not implement abstract member public abstract fun onRequestPermissionsResult(p0: Int, p1: Array<(out) String!>, p2: IntArray): Boolean defined in io.flutter.plugin.common.PluginRegistry.Reque

[2022-07-28 08:31] DhavalRKansara commented on #68
Duplicate of #50
You will find the fixes in the latest release **0.1.3**

[2022-07-28 08:31] #68 closed

[2022-07-28 08:36] Ujas-Majithiya commented on #56
@babyken @nawafAlkhadidi Have you tried solution in #35 and try removing `file://` and just provide the path like `/dir1/dir2`
if this still doesn't work then please update it here.

[2022-07-28 08:41] DhavalRKansara commented on #58
Hello @khaled-muhammad We have tried to replicate the same issue with ios 15.5, and we cannot reproduce the same. Please recheck the same with our latest release and let us know if you still face the same?

[2022-07-28 10:01] Ujas-Majithiya commented on #42
@hey-nicolasklein Each platform requires its own implementation on the native side so right now there is no implementation done for the web

[2022-07-28 10:40] babyken commented on #56
@william-herring  and @Ujas-Majithiya
Thank you for the replies. I tried both with `file://` and without `file://`
which gives different error as mention above.

Eventually I used ffmpeg to solve my problem.

[2022-07-28 11:12] Ujas-Majithiya commented on #56
@babyken Thank you for your quick reply, I will look into this and will update here

[2022-07-28 16:46] Ujas-Majithiya commented on #48
@bulgarian-beast Thanks for the temporary solution.

@noygafni  Now, if you want to listen to player state changes then you can use this stream `playerController.onPlayerStateChanged.listen((state) {});` which will provide any state changes in PlayerController.

Also, we have one new enum `FinishMode` which you can pass in the `startPlayer()` as a parameter. It will provide some level of control w

[2022-07-28 17:04] Ujas-Majithiya commented on #52
@william-herring Let's say we are allowing left swipe when waveforms are in the initial state. In the initial state, waves are at the middle of the screen if the `extendWaveform` flag is set false else they will be at the start of the viewport at the right side. Now, when you left swipe waves will start going outside of the viewport from the beginning so allowing waves to go outside of the viewpor

[2022-07-28 17:07] Ujas-Majithiya commented on #56
@babyken  I just noticed you are providing a video file, this plugin is to show waveforms from audio files only

[2022-07-28 17:33] Ujas-Majithiya commented on #64
@AimanKyo97  you can to listen to player state changes using
`playerController.onPlayerStateChanged.listen((state){});` stream which will provide any state changes in PlayerController. And as Dhaval said you can loop the player with `FinishMode.loop` enum. You will find this in the latest release. For more info check their documentation

[2022-07-28 19:10] Ujas-Majithiya commented on #52
And you have provided a image not video

[2022-07-28 22:30] hatemragab opened #71 "bug while release android"
how to solve  iam try to use the

[code]
and also v 0.1.3

[code]

[2022-07-29 06:55] DhavalRKansara commented on #71
@hatemragab I have tried to run the example with version 0.1.3 on release mode in android and it's working fine on my end. Can you please share some steps to reproduce the issue and device info(Phone model, Android os and etc...) in which you are facing this? It will be helpful to us to find and fix the same.

[2022-07-29 09:48] hatemragab commented on #71
@DhavalRKansara
I have created a test project add just added the package to it then run flutter build apk
and same error happened
[code]
test project url is [https://github.com/hatemragab/test_audio_wave](urltest_audio_wave)

[2022-07-29 11:51] DhavalRKansara commented on #71
@hatemragab  Thanks for the response and sharing the repository we are able to replicate the same. There is one PR open for the same we need a minor change in it and requested the author for the same. We will wait for 2 days if He update else we will do the changes and release the updated version by Monday.

[2022-07-29 18:51] JeChingLin commented on #58
version 0.1.3

Problem scanning for packets
 MPEGAudioFile::OpenFromDataSource failed
 OpenFromDataSource failed
 Open failed
Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=NSOSStatusErrorDomain Code=1685348671 "(null)": file audio_waveforms/AudioPlayer.swift, line 22
* thread #1, queue = 'com.apple.main-thread', stop reason = Fatal error: 'try!' expression unexpectedly

[2022-07-30 03:42] #71 closed

[2022-07-30 17:11] captain-woof opened #73 "Microphone might be turned off"
**Issue**:
Starting audio recording with `recorderController.record()` prints this:

[code]

And nothing else happens. The waveforms don't appear.

**Version**:
audio_waveforms: 0.1.3

[2022-07-31 07:37] Ujas-Majithiya commented on #73
If you are using an android emulator then it will be happening because sometimes emulators don't start microphones so I would suggest using a real device.
Duplicate of #25.

[2022-07-31 07:44] captain-woof commented on #73
But when I change the sample rate, set it to an explicit value of say 41000, then this error does not come up.

But I have a new error now, saying that my Row gets overflown (I have the audio wave and record button in a row). Why's this happening?

Here's the widget:

[code]

[2022-07-31 11:53] Ujas-Majithiya commented on #73
I have tried your provided sample code and it working fine for me. Overflow issue might be coming from some other widget.
If you are still facing microphone issue for emulator then open emulator settings by pressing on three dots and tap on microphone and enable `virtual microphone uses host audio input`.

[2022-07-31 12:16] JeChingLin commented on #58
Problem solved.

Use 'test.m4a' instead of
[code]

[2022-07-31 14:25] Flajt opened #74 "Duration doesn't reset after calling stop (IOS)"
Hello, first of all thank you for this great package.

If I call `recoderController.stop()` and try to take a new recording without leaving the page (and triggering `dispose`), it will start by first displaying no wave. If one has the duration markers enabled, one can see that it renders the last timestamp at the near the left most position.

<details><summary>Video of the issue</summary>

https:/

[2022-07-31 14:55] captain-woof commented on #73
The overflow errors happens only after I start recording, and not before. It happens even if I don't use the `AudioWaveforms` widget.

[2022-07-31 15:03] captain-woof commented on #73
Yeah, the error was happening coz of some other widget.

I still can't start recording through. I get this error:

[code]

[2022-07-31 15:11] captain-woof commented on #73
I got it to working with 16000 khz, but, the audio quality is poor.

How to improve it?

[2022-07-31 15:51] Ujas-Majithiya commented on #73
@captain-woof The quality of audio is dependent on underlying platform and device you are using. And can you please share how downgrading sample rate resolved your issue?

[2022-07-31 16:05] Ujas-Majithiya commented on #74
@Flajt Ok so what is happening here is, when you start recording the audio for second time it clears all the waves but it is not resetting the distance it pushed the first wave back and for new recording its starting from old distance.

Thanks for reporting this issue, we will soon release a fix

[2022-07-31 16:52] captain-woof commented on #73
So, I was manually setting the sample rate to 41000, and that was failing.

Then, I switched to 16000, and it worked.

[2022-07-31 16:54] Ujas-Majithiya commented on #74
@Flajt I have create a PR for the issue. You may use that branch until the next release

[2022-07-31 16:59] Flajt commented on #74
I appreciate it. Thanks a lot.

[2022-07-31 17:06] Ujas-Majithiya commented on #74
@Flajt and everyone, if you decide to set `callReset` to false you will manually require calling `reset()` from RecorderController to clear waves when recording again

[2022-07-31 17:16] Ujas-Majithiya commented on #58
@JeChingLin Can you please provide sample code for how you were trying to play the audio?

[2022-08-01 11:42] #74 closed

[2022-08-01 12:54] ujas-m-simformsolutions commented on #56
With the new `0.1.4` release it should be easier to add the path to the file as we are now using `URI` to get the path.

[2022-08-01 12:54] #56 closed

[2022-08-01 16:36] captain-woof opened #77 "AudioFileWaveforms does not show waveforms"
I'm using the `AudioFileWaveforms` in a row to create a player UI, and this is how I do it:

[code]

Thing is, it gets played correctly, but no waveforms appear. It's just blank. Why is this so?

[2022-08-01 16:38] a1erons opened #78 "Not showing waveforms"
This is not showing waveforms at all

[2022-08-01 16:40] a1erons commented on #77
Same issues here

[2022-08-01 17:14] Ujas-Majithiya commented on #77
@captain-woof Can you please share how you are preparing the player

[2022-08-01 17:22] Ujas-Majithiya commented on #78
@a1erons  Can you please share some code of your implementation so that we can determine where is issue?

[2022-08-01 17:42] captain-woof commented on #77
@Ujas-Majithiya I had followed the docs in the first place.

I prepared the player, then set it to play. Like I said, the sound is heard alright, but the waves aren't there.

[2022-08-01 18:59] Ujas-Majithiya commented on #77
@captain-woof This happens because you're showing the waveform widget before it had time to read the file and when it will try to calculate waveforms it will have no data calculate waveforms.

 So just add a condition above the waveform widget `playerController.playerState != PlayerState.stopped` and it will automatically show the widget and waveforms inside when it completes reading and calculati

[2022-08-01 19:40] captain-woof commented on #77
@Ujas-Majithiya Oh. Got it.

This should be mentioned in the docs. I thought preparing the player would then cause the Audio waveform widget to prepare as well. I didn't know it would start preparing right away.

[2022-08-02 05:18] #77 closed

[2022-08-02 05:19] ujas-m-simformsolutions commented on #64
Closing this as we have this feature available now.

[2022-08-02 05:19] #64 closed

[2022-08-02 05:24] ujas-m-simformsolutions commented on #48
Closing this as we have two types of streams for listening to PlayerState changes, duration changes, and an enum to control how audio should end. This should cover the use case.

[2022-08-02 05:24] #48 closed

[2022-08-02 05:29] ujas-m-simformsolutions commented on #73
Closing this because sample rate causing overflow issue doesn't line up and audio quality of the audio is dependent on platform and device, not the plugin.

[2022-08-02 05:29] #73 closed

[2022-08-05 16:02] ujas-m-simformsolutions commented on #78
Closing this issue as no additional info was provided.

[2022-08-05 16:02] #78 closed

[2022-08-07 15:58] Technorocker commented on #50
I dont understand this comment chain here. Is this fixed? I am having this issue right now using the latest version. Cant build an apk

[code]

[2022-08-07 16:24] Technorocker opened #79 "WidgetsBindingObserver build failed"
I was looking for a solution for this plugin as I was getting fails while trying to build out an apk. I jsut updated to newest version from 0.1.1 to 0.1.4 the verifyresource issue is indeed gone now but now I have a new issue with widgetbindings. This is the error I'm getting when build fails...

[code]

The only 2 places I use the audiowaveform I also use a timer in the widget so I use the Widget

[2022-08-07 17:07] Ujas-Majithiya commented on #79
@Technorocker I think you are using lower version of flutter. With flutter `3.0`, there was change in nullability of `WidgetsBinding.instance`. So, we no longer require adding `?` or `!` after `WidgetsBinding.instance`.  I recommend updating your flutter sdk.

[2022-08-07 17:29] Technorocker commented on #79
Ah ok, Ya im not upgrading past the version im using for my current app. Last time i tried that I spent an entire day trying to figure out how to downgrade my flutter/gradle/android/blah after most the plugins I'm using werent compatible unfortunately.

But good to know, thank you for response.

[2022-08-07 17:55] #79 closed

[2022-08-16 09:50] awnigharbia commented on #58
I have the same issue. It happens only when I record from Android and play the record on IOS.

@JeChingLin  Any help please?

[2022-08-17 08:06] RamzyMSadeq opened #81 "Cannot start iOS recorder"
I'm testing the iOS recording on iOS real device 15

and I got this error:

Any idead what I'm doing wrong?

[code]

[2022-08-17 09:21] RamzyMSadeq commented on #81
Ty I solved it.

[2022-08-17 09:21] #81 closed

[2022-08-17 22:27] a1erons opened #82 "Microphone might be turned off"
Now working fine on iOS, but this is my error when trying to record on Android!

[2022-08-17 22:46] a1erons commented on #78
Later got this resolved, the controllers **must be ready** and properly **initialized** before adding them to the audio waves widget!
Thanks

[2022-08-18 03:44] mstestlp opened #83 "播放控制器停止后不能再次播放"
停止后状态是stop,不能播放了?
![image](https://user-images.githubusercontent.com/10651998/185288610-06aec9af-82da-464a-a196-952ac912f8a5.png)

[2022-08-18 06:23] ujas-m-simformsolutions commented on #83
@mstestlp this happens because the default value of finishMode is `stop`.  You can check [here](https://pub.dev/documentation/audio_waveforms/latest/audio_waveforms/FinishMode.html) for more info.

[2022-08-18 07:11] ujas-m-simformsolutions commented on #82
Duplicate of #73. Check [this](https://github.com/SimformSolutionsPvtLtd/audio_waveforms/issues/73#issuecomment-1200409384) comment to enable the microphone for the android emulator.

[2022-08-18 07:11] #82 closed

[2022-08-19 17:59] rlee1990 commented on #54
This is really needed.

[2022-08-20 20:20] rlee1990 opened #85 "Player Reset Option"
I don't see an option to reset the player at all. Looping doesn't seem like a great option when using in a chat app.

[2022-08-22 09:16] ujas-m-simformsolutions commented on #85
Hey @rlee1990, you can use `FinishMode.pause` and `FinishMode.stop`. If this option doesn't satisfy your use case, can you please share your use case or any suggestions?

[2022-08-22 13:57] rlee1990 commented on #85
@ujas-m-simformsolutions What I am trying to do is when the audio is done playing have the player reset the audio back to the start and have it ready to be played again. Putting it on stop doesn't allow us to play it again. Looping will still keep playing.

[2022-08-23 19:52] rlee1990 opened #86 "Issue With iOS 15.6.1"
I get the below error on ios:
```scheduledTimer(withTimeInterval:repeats:block:)' is only available in iOS 10.0 or newer```
By switching:
[code]
func startListening(){
        if #available(iOS 10.0, *) {
            timer = Timer.scheduledTimer(withTimeInterval: 0.2, repeats: true, block: {_ in
                let ms = (self.player?.currentTime ?? 0) * 1000
                self.plugin.onCurrentDu

[2022-08-23 19:52] rlee1990 commented on #86
I will submit a pull request.

[2022-08-24 13:12] ujas-m-simformsolutions commented on #86
@rlee1990  Can you please also add `flutter doctor` logs

[2022-08-25 18:28] JeChingLin commented on #58
this is work for me.
### Recorder
[code]
### Player
[code]

[2022-08-26 07:25] ujas-m-simformsolutions commented on #85
@rlee1990 You can use `FinishMode.pause` for this use case

[2022-08-26 07:28] #52 closed

[2022-08-26 07:30] ujas-m-simformsolutions commented on #83
Closing this issue as no further info was provided, feel free to create a new issue

[2022-08-26 07:30] #83 closed

[2022-08-26 12:33] rlee1990 commented on #85
@ujas-m-simformsolutions No I can not that will just pause the file at the end and the person won't be able to hear it again from the start without closing the chat

[2022-08-26 13:57] ujas-m-simformsolutions commented on #85
@rlee1990 With `FinishMode.pause` player will be paused at the end of the file but if you call `startPlayer` again it will start playing again from the start of the file. And if you are still facing this issue then please share your implementation so that we can check where is the issue.

[2022-08-30 09:27] DhavalRKansara commented on #86
Closing the issue as the changes have already been merged with PR #87. Thanks for the contribution @rlee1990

[2022-08-30 09:27] #86 closed

[2022-09-02 05:05] brainer3220 opened #88 "Can't load file path"
[code]

I tried below code for load Music, but I got error.

but other library(audioplayers) can work.

[code]

version: 0.1.4

[2022-09-02 05:41] ujas-m-simformsolutions commented on #88
Hey @brainer3220 if you check the example app, we have used audio assets available in the project itself. So you need to create a file inside your app like this
[code]

[2022-09-02 06:10] brainer3220 commented on #88
@ujas-m-simformsolutions Thanks, I successfully load audio file.

But, I can't view Waveform view in Android or others.

[2022-09-02 07:05] #88 closed

[2022-09-03 11:34] Technorocker commented on #62
Can you share with everyone how you resolved your issue please? I am wondering the same thing.

[2022-09-03 22:00] Technorocker opened #89 "Page needs to be reloaded before audiowave works"
Hello there and great plugin. I'm having an issue where after I create the audiofile and display the waveform widget it doesnt populate. I have to go to another screen then back for the widget to load in the audio data. Just a quick background. I have chat list screen, from there I click a button and it takes me to a separate audio recording screen. I do the recording fine. Choose to save file. Fi

[2022-09-05 06:12] ujas-m-simformsolutions commented on #89
Are you calling `preparePlayer` before you get the recording? If yes then it will not show waves so only call preparePlayer after you have the file. Also, use this condition `controller.playerState != PlayerState.stopped` above the widget because when you directly use the AudioFileWaveforms widget it will start reading data. Also you can use `onPlayerStateChanged` stream if you want.

If this does

[2022-09-05 06:17] ujas-m-simformsolutions opened #90 "Only start reading waveform data when preparePlayer is called"
The current implementation of `AudioFileWaveforms` widget directly reads waveform data when used in the widget tree which is a little confusing for users so we should only start reading when `preparePlayer` is called.
Related to #78.

[2022-09-05 21:31] Technorocker commented on #89
Thanks for the reply, I just checked and I am grabbing the file and saving it onto the device before I'm preparingPlayer.

[code]
As you can see I'm trying to store the file onto the device before using it and if its not already downloaded I proceed to save it locally before I use the preparePlayer method.

I apologize but I'm still learning flutter and I'm not sure how I'd use the `onPlayerStateC

[2022-09-06 06:46] ujas-m-simformsolutions commented on #89
I think you are using a single controller for every waveform widget. If yes then you will need a unique `PlayerController` for every waveform widget.
If that's not the case then you can initialize a controller whenever you want just initialize it before you use it.
so something like this,
[code]
As for a chat screen where audio chats will come dynamically what you can do is create a separate state

[2022-09-06 07:55] brainer3220 opened #91 "Can fix wave max length width when Record?"
Example code is when recording not fixed wavelength and allow move to gesture.

But, I want fix specific max wavelength.

Can available?

[2022-09-06 09:42] ujas-m-simformsolutions commented on #91
If I understood you correctly you want to fix the recording time of the audio recorder, if yes then you can just create a `Duration` instance and wait for it. After it completes just stop the recorder.

[2022-09-06 11:15] brainer3220 commented on #91
@ujas-m-simformsolutions Thank you for response.

I want not only fix recording time, but also fix Waveform length.

For example expended waveform when record more then certain time length, but I want don't expend waveform but weveform length by percentage.

[2022-09-06 11:32] Technorocker commented on #89
Thank you again for your help trying to cypher where i'm going wrong.

So the hierarchy goes like this. In my chat screen I have a button that brings me to a new separate audioRecording screen where the user clicks a button, records the audioclip, once done user can review it on the same screen, this all works flawlessly I might add, once user confirms they are happy with recording the file it get

[2022-09-06 13:15] ujas-m-simformsolutions commented on #89
@Technorocker I reviewed the file but I haven't been able to find any mistake there. And for your question playerController internally manages a unique to identify a player. You can access it with `controller.playerKey`. Providing a key to the waveform widget won't make any difference unless you are using it for something on your side.

Can you please check if `controller.bufferData` is not null o

[2022-09-06 13:30] Technorocker commented on #89
thanks for checking out my file. When you suggested I put the `controller.playerState != PlayerState.stopped` above the audioFileWaveForms widget i did try that but it didnt work.

 I did notice theres a `PlayerState.readingComplete` so I also tried that above the widget and show an empty container otherwise but that didnt seem to make a difference either. I guess I'll have to find a way to trigge

[2022-09-06 14:17] ujas-m-simformsolutions commented on #89
@Technorocker just check it with `print`. It is not required in the UI part because we have `playerState` for it. I'm asking this because if bufferData is null or empty then it will show empty waveforms in the UI.

[2022-09-06 14:21] ujas-m-simformsolutions commented on #91
I think you want the fixed number of waves shown on the screen and when the user uses the mic all the fixed number of waves should react to it, right?

[2022-09-06 14:59] Technorocker commented on #89
So i checked the bufferdata with a print statement right at the top of the build method and it is indeed empty when it first comes through. I also tried to put that Playerstate check at the top of the build return statement(both readCompleted and stopped) and it would trigger the empty container widget so it wouldnt show up in the UI, or it would show up and when I clicked on the play button the w

[2022-09-06 15:03] brainer3220 commented on #91
@ujas-m-simformsolutions
![IMAGE 2022-09-07 00:03:14](https://user-images.githubusercontent.com/40418544/188669611-005b5b62-8b9f-4d37-a79d-5320d0c9409d.jpg)

Um.. No, just set max number of waves. (Allow stop early

[2022-09-07 05:52] ujas-m-simformsolutions commented on #91
The current default implementation for recording waves is they start from the middle of the provided width so you want the full width if yes then in `WaveStyle` there is a parameter `extendWaveform` if you provide true then waveforms will take the full provided width.

[2022-09-07 06:22] brainer3220 commented on #91
@ujas-m-simformsolutions Yes, I know.

But a few seconds later, waveforms move to left.

I think set compressed num(?) when finish the record.

[2022-09-07 08:48] ujas-m-simformsolutions commented on #91
so you want a custom middle line position. Where waveforms shouldn't pass that custom-provided offset which is right now `size.width/2` if extendWaveform isn't set to true.

[2022-09-07 09:14] brainer3220 commented on #91
@ujas-m-simformsolutions I think Yes.

[2022-09-09 15:11] hey-nicolasklein opened #93 "Error during build: 'Error: Type 'Uint8List' not found"
Upgraded my packages today. Audio_Waveforms does not want to compile. Are there any dependencies I should be aware of?

![image](https://user-images.githubusercontent.com/32168266/189382613-8799b5d1-0e42-407a-ae05-6c3cac2791f8.png)

[2022-09-09 17:18] ujas-m-simformsolutions commented on #93
In new release, somehow the import got removed. I will quickly do the PR.

[2022-09-09 17:54] ujas-m-simformsolutions commented on #93
We will try to release this as soon as possible but for now just add this import `import 'dart:typed_data';` or directly add main branch in your `pubspec.yaml`.

[2022-09-11 13:30] RamiHI opened #95 "When I run the project, this error appears"
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/audio_waveforms-0.1.5/lib/src/controllers/player_controller.dart:14:3: Error: Type 'Uint8List' not found.
  Uint8List? _bufferData;
  ^^^^^^^^^
/C:/flutter/.pub-cache/hosted/pub.dartlang.org/audio_waveforms-0.1.5/lib/src/controllers/player_controller.dart:17:3: Error: Type 'Uint8List' not found.
  Uint8List? get bufferData => _bufferData;
  ^^^^^^^^^

[2022-09-12 05:33] ujas-m-simformsolutions commented on #95
Duplicate of #93.

[2022-09-12 05:33] #95 closed

[2022-09-12 06:47] ujas-m-simformsolutions commented on #93
We have released `0.1.5+1` please this version from now

[2022-09-12 11:14] hey-nicolasklein commented on #93
Thank you for the fast response and update. Everything back to normal now 👍

[2022-09-19 19:00] codecoded opened #100 "Advice: Compatible encoding format for iOS and Android and disabling animation"
Hi,

Firstly, great impressive plugin which I'm using for a chat app - but having a couple issues was hoping someone could help / advise

1. Is there a way to disable the animation? I have a list view that refreshes and sometimes the components rebuild, which triggers the animation. I've looked into several ways to try cache the widget, through keys and various other means, but ultimately, the ani

[2022-09-20 11:12] ujas-m-simformsolutions commented on #100
Hey @codecoded,
1. If you are talking about waveforms from a file then you can just pass `Duration.zero` and it won't animate the waves.

2. I must have missed your comment so thanks for filing a new issue. Now, we have set the default value of encoder `kAudioFormatMPEG4AAC` because it's the default for ios, so it makes sense to just use that or you can try changing the default values of `sampleRa

[2022-09-20 11:15] ujas-m-simformsolutions commented on #85
Closing this since no more feature info was provided and the current implementation works for the use case.

[2022-09-20 11:15] #85 closed

[2022-09-20 17:27] Nico3652 opened #101 "Android volume exception : .ClassCastException: java.lang.Double cannot be cast to java.lang.Float"
Thanks a lot for this great package.

However while I tried to use
[code]
 I got an error cast from android with double & float :

[code]

I tried with int and double but got the same result
Thanks for any help

[2022-09-21 08:26] mohammadsaif19 opened #102 "Is there any way to pause the current audio while start playing another one?"
Similar to the WhatsApp voice note, when we play any new voice note the current gets paused or stopped.

[2022-09-21 12:55] nawafAlkhadidi commented on #102
same issues

[2022-09-21 14:20] FloLecoeuche commented on #42
@ujas-m-simformsolutions thank you for this package

Do you have any idea how long it will take to release the web version ?

[2022-09-21 17:37] Ujas-Majithiya commented on #42
@FloLecoeuche I can not give you a deadline because I maintain this project when I get time from my day job and also right now I'm working on improving waveforms for audio files and there are still 2-3 bugs pending which need to be addressed so it will take awhile.

[2022-09-21 17:42] ujas-m-simformsolutions commented on #102
You can do this by calling `pausePlayer` when another audio is played for every other PlayerController but that would be cumbersome to do so putting it under enhancement.

[2022-09-22 08:09] mohammadsaif19 commented on #102
I have solved this problem by applying small hacks using the provider, I checked all the available player controllers and the file path of those controllers, and if the path isn't the same one I'm playing currently then the provider will notify the listeners to pause the voice note.
There are might be better approaches to solve it but this how I solved it for now, you may give it a shot.

[2022-09-22 12:35] Ujas-Majithiya commented on #100
#103 this PR will fix waveforms not expanding when you provide `zero` duration and from your last update do audio files from ios to android play now if you use 44100 sample rate and 48000 bit rate?

[2022-09-22 12:43] Ujas-Majithiya commented on #79
@Technorocker #103 will fix the errors you were getting for postFrameCallback.

[2022-09-22 12:53] Ujas-Majithiya commented on #102
@codecoded Thank you for the code snippet. And also you can use `playerKey` available in PlayerController instead of the path for the key of the `playerControllers` map. A playerKey will be unique for each player.

[2022-09-23 15:03] VivekMakwana24 opened #104 "seekTo(progress) is not working"
Hello,

seekTo function is not working, Could you please check?

This is how I have used it

_currentPlayerController?.seekTo(Duration(seconds: double.parse(p0).truncate()).inMilliseconds);

Thanks

[2022-09-23 17:39] Nico3652 opened #105 "[BUG ANDROID] java.lang.IllegalStateException: sending message to a Handler on a dead thread"
When I'm using the stop method from the player on Android I have a Handler issue :

[code]

When calling :

[code]

This is not 100% reproductible and unfortunately I can't provide more info on the situation.
This is a very classic use case, It's called on dispose() after playing audio in the main page.

Device : Motorola on Android 11

Thanks

[2022-09-25 09:40] Ujas-Majithiya commented on #105
Hey @Nico3652,
Look at the error you are getting  `sending message to a Handler on a dead thread`, it means that you are trying to use  native resources which are already disposed, in your case you are stopping the player inside dispose method as it's an `async` call it will take time and while stopPlayer is running screen will be already disposed. And it's sometimes reproduceable is maybe due to

[2022-09-25 09:43] Ujas-Majithiya commented on #104
Hey @VivekMakwana24, Here are some cases `seekTo` won't work
* Negative duration
* Controller not initialized
* Audio is paused

[2022-09-25 11:49] nawafAlkhadidi opened #106 "iOS microphone is not working and Waveforms"
ios microphone is not working and not display Waveforms

I checked the permissions and it works, I don't know where the problem is

I used the same code in another app and it works, but in my app it doesn't work

How can I solve this problem

this image :
[https://f.top4top.io/p_2459wnnyz1.png](url)

[2022-09-25 13:33] Nico3652 commented on #105
Hi @Ujas-Majithiya

In my case it will be more complicated then because I have a "swipe back" closing gesture, so the initial pop -> dispose is called without trigger from my code.

I only did this for swipe handling

[code]

As far as I know we can't delay / await in dispose method and other ```AnimationController```  allow to call ```controller.dispose()``` without async so there are no problem

[2022-09-25 13:33] #105 closed

[2022-09-26 07:42] VivekMakwana24 commented on #104
Hello, @Ujas-Majithiya

Thanks for quick reply,

As per your mentioned points, all cases are correct.

Let me share some screenshots for the implementation

`
1] This is how I am performing seekTo() operation
![Screenshot from 2022-09-26 12-33-24](https://user-images.githubusercontent.com/48508009/192219917-6325a75f-0ef9-4594-87cb-9d12d79620bb.png)

2] These are the logs of the duration I am passi

[2022-09-26 17:07] loic-hamdi commented on #100
Thank you for the PR. Please update the documentation accordingly

[2022-09-27 03:58] 3ph opened #107 "iOS fails to record"
Recording on the device doesn't work - a file is created but has zero length. There is no error for the recording part - no waves are being shown while recording (only dots). I have tried to debug iOS code but there doesn't seem to be any error - `getDecibels` always return -120.

I have tried on 2 iOS devices (iOS14, iOS16), both behaving the same. Permissions to microphone are granted.

The code

[2022-09-27 04:46] ujas-m-simformsolutions commented on #107
Hey @3ph can you please try changing sampleRate to 44100 and bitRate to 48000

[2022-09-27 04:47] ujas-m-simformsolutions commented on #106
@nawafAlkhadidi the image you have provided redirects to another site and can you try changing sampleRate to 44100 and bitrate to 48000

[2022-09-27 04:51] ujas-m-simformsolutions commented on #104
@VivekMakwana24 The image of the code you have provided looks ok to me so it will require minimum reproducible code or your platform specification because with the example app it is not reproducible.

[2022-09-27 05:43] VivekMakwana24 commented on #104
@ujas-m-simformsolutions

I have tried my implementation with the example app,

I am checking on Android device
Device Info :
- OnePlus 9R (Android 12)

The issue I found is when in my example I am using "..androidOutputFormat = AndroidOutputFormat.aac_adts" for recordController.

.androidOutputFormat = AndroidOutputFormat.mpeg -> Works Fine

.androidOutputFormat = AndroidOutputFormat.aac_adts ->

[2022-09-27 06:05] 3ph commented on #107
Hey @ujas-m-simformsolutions, great suggestion, it works now, thanks a lot. Wouldn't it make sense to make these defaults? Or maybe mention it in the readme?
Great job on the package anyway!

[2022-09-27 06:22] ujas-m-simformsolutions commented on #107
@3ph there is one PR that changes these default values.

[2022-09-27 06:22] #107 closed

[2022-09-27 13:06] ujas-m-simformsolutions commented on #104
@VivekMakwana24 This plugin uses ExoPlayer to play audio on android. Now, some files won't be seekable due to [this](https://exoplayer.dev/troubleshooting.html#why-are-some-media-files-not-seekable). So your file might not contain a constant bitrate.

[2022-09-30 10:32] VivekMakwana24 commented on #104
Okk, Is there any solution that you would propose?

[2022-09-30 15:56] Nico3652 commented on #106
Hey @ujas-m-simformsolutions ,

I was also facing this issue since multiple days ago.

I tried to copy/paste/run your **example** code but this not working, then i cloned your GitHub project and run but still not working.

I also executed the same processes for Android and got the same result.

On iOS when the microphone is opened there is a orange point on top like this :

![IMG_1794](https://use

[2022-10-01 22:15] csacchetti opened #108 "The Android music wave is inverted"
I have a strange problem. While iOS shows the music wave correctly with the silence spaces at zero, Android seems to show it inverted, in fact right from the start, when I haven't started talking yet it is at maximum and if I start talking it drops proportionally.
I don't understand if I have done something wrong (but I use your example) or there is a real problem.
Any suggestion?

[2022-10-03 08:16] csacchetti commented on #108
I use normalizationFactor to obtain a good wave also in android

[2022-10-04 07:37] brainer3220 opened #109 "Play speaker only call receiver on iOS"
On real device, speakers play on only Call receiver.

Maybe doesn't Simulator.

[2022-10-04 10:30] nawafAlkhadidi commented on #106
this image :
![Simulator Screen Shot - iPhone 14 Pro - 2022-09-25 at 13 46 46](https://user-images.githubusercontent.com/82181631/193797293-cef057ae-70f4-43f7-ac67-1ff8c0c4eb85.png)

[2022-10-04 10:59] #109 closed

[2022-10-04 11:18] nawafAlkhadidi commented on #106
I changed sample Rate to 44100 and bitrate to 48000
and then fixed it
thanks

[2022-10-04 11:18] nawafAlkhadidi commented on #106
I changed sample Rate to 44100 and bitrate to 48000
and then fixed it
thanks

[2022-10-04 11:18] #106 closed

[2022-10-07 20:07] jackwill99 opened #110 "In iOS, can't not record audio. It works on Android. So, I clone github repo and test on iOS. Here is the output.Someone can help me??"
flutter: Recorded file size: 0
2022-10-08 02:33:39.196986+0630 Runner[1427:289902] [VERBOSE-2:dart_vm_initializer.cc(41)] Unhandled Exception: PlatformException(, Failed to prepare recording, null, null)
#0      StandardMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:653:7)
#1      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:315:18)

[2022-10-08 03:33] jackwill99 commented on #108
Are you ok recording in iOS?? I also use this repo example but iOS can't record. If you are ok, can you share your code for iOS?

[2022-10-08 08:40] tchapdev commented on #89
@ujas-m-simformsolutions  Hi, for my part the `playerController.bufferData` return null; Do you have any idea how I can solve this?

[2022-10-08 11:19] tchapdev opened #111 "waves that are not displayed"
Hi there, I can't display the waves of my audio files, and when I display on the console the result of `playerController.bufferData`, I get the `null `response, so how to solve this please

[2022-10-08 12:18] tchapdev commented on #111
problem solved

[2022-10-08 12:18] #111 closed

[2022-10-08 12:49] digrowfa commented on #111
can you please explain how you solved it ? i am facing the same issue

[2022-10-08 12:49] digrowfa commented on #111
please take a look above

[2022-10-08 12:50] deevsaini commented on #111
can you please tell me how you solve it ? I am facing the same issue!

[2022-10-09 03:51] alphatero commented on #110
I have same issue, use simple usage code didn't work too.

[2022-10-09 08:18] Nader2004 commented on #54
Any updates on this feature

[2022-10-12 08:52] ujas-m-simformsolutions commented on #110
Duplicate of #107. Use sampleRate 44100 and bitRate 48000

[2022-10-12 08:52] #110 closed

[2022-10-12 09:00] ujas-m-simformsolutions commented on #104
@VivekMakwana24 I would suggest just using the audio format which works for you and if the default format doesn't work then try using 48k bitRate and 44.1k sample rate and if you find any solution then we are open for PR.

[2022-10-12 09:02] ujas-m-simformsolutions commented on #108
@jackwill99 Check [this](https://github.com/SimformSolutionsPvtLtd/audio_waveforms/issues/107#issuecomment-1258973451) out. And closing this since the issue is been resolved.

[2022-10-12 09:02] #108 closed

[2022-10-14 09:28] ujas-m-simformsolutions commented on #90
I am going to close this issue since player waveforms are fully being reworked and it will have a new function to extract waveforms

[2022-10-16 11:47] kyleorin commented on #54
this would be a great addition, any update?

[2022-10-16 12:09] sauravdpl opened #112 "iOS : audio is only playing through phone earpiece not from the speaker"
i have implemented using the example and audio is playing fine in android but in iOS it is only playing through earpiece not from phone speaker

[2022-10-17 13:58] ujas-m-simformsolutions commented on #112
Can you please share any changes you have made to the native or flutter code because by default sound should come from the speaker and earpiece both

[2022-10-17 14:01] sauravdpl commented on #112
I have not changed anything even though I have copied all the code from the example to my project for testing, but it did not work. Sound still coming from the earpiece. Even I have tested it on iPhone 7 plus, and iPhone 13

[2022-10-18 06:19] jackwill99 opened #113 "Recorded audio file from Android can't play in iOS. Android to Android & iOS to iOS is fine."
(Here is the output recorded audio file from Android.)[https://drive.google.com/file/d/1njOERM7XRc5fc0OEpUfCNtyHeeebgMws/view?usp=sharing]

[2022-10-18 10:32] ujas-m-simformsolutions commented on #113
Hey @jackwill99, The link you provided requires access can you please make it open, and what configuration did you set for recording an audio file? Because with default settings I'm able to record on android and play it on IOS.

[2022-10-18 10:52] ujas-m-simformsolutions commented on #112
@sauravdpl I tried with the example app on iPhone 12 and I'm not able to reproduce it.  Do you have any suggestion to reproduce it?

[2022-10-18 11:44] #101 closed

[2022-10-18 13:48] N-sravan opened #114 "Recorded file is always returning zero bytes"
[VERBOSE-2:dart_vm_initializer.cc(41)] Unhandled Exception: PlatformException(, Failed to prepare recording, null, null).
I'm running your example code

[2022-10-18 13:55] N-sravan opened #115 "Not showing waves for first 2-4 seconds."
Not showing waves for first 2-4 seconds in IOS recorded file. In Android it's working fine.

[2022-10-18 16:52] sauravdpl commented on #112
did you just run by cloning the from, or you made a new project and added the package on pubsec. If make a new project and add a package from pubsec then you can reproduce the issue

[2022-10-18 16:55] Nico3652 opened #116 "Wave form render is not as expected"
When I'm displaying the ```WaveFileWaveforms``` widget after recording the wave result doesn't reflect the real form.
The form after recording is 100% always the same :

https://user-images.githubusercontent.com/50270977/196492220-6caf9470-b706-4f29-be8a-77b3c0b26f68.mov

Here is the sample code for this video (almost all code came from your example project) :

[code]

When the file read by the pl

[2022-10-19 05:29] ujas-m-simformsolutions commented on #114
Duplicate of #107.

[2022-10-19 05:29] #114 closed

[2022-10-19 05:31] ujas-m-simformsolutions commented on #115
Please share your implementation so that we can check where is the issue.

[2022-10-19 05:37] ujas-m-simformsolutions commented on #116
This happens because we are directly calculating waveform without decoding the file. I'm going to a PR in some time which will fix this issue.

[2022-10-19 10:06] Nico3652 commented on #116
Why this is not happening with your example app in ```WaveBubble``` widget ? I copied/pasted your code and run it and after record the waves are not like mines.

 I reproduced the same logic record -> play (code above) but I'm not able to get the same result

[2022-10-19 12:58] mahesh-gubbi opened #117 "iOS not working waves graph"
Android is working fine but in iOS waves not coming. waves forming like  dots only,  please check let me know. thank you.

[code]
![simulator_screenshot_70E684AD-3318-41B8-88A6-C16747F075EC](https://user-images.githubusercontent.com/115148874/196697151-15412736-7e03-4860-9e71-476effde960d.png)

![simulator_screenshot_1BB11F97-A078-49A1-8522-7AE4FC93684D](https://user-images.githubusercontent.com/1

[2022-10-19 13:27] emrhnzngn opened #118 "Smoothen wave progress animation"
I also need updateFrequency when playing audio how can I do it?

[2022-10-19 17:47] NafissaBHJ opened #119 "Microphone might be turned off"
I'm having a message that says " D/AudioWaveforms( 1299): Microphone might be turned off " when I start recording when I have already gave access to Microhphone in the manifest file .

[2022-10-20 07:01] lokesh-gam commented on #117
Even I am facing the same issues in iOS, Please let me know if find any solution.

[2022-10-20 08:56] ujas-m-simformsolutions commented on #116
@Nico3652 This can be affected by bytes in your recording file and the demo recording file aren't similar.

[2022-10-20 08:57] ujas-m-simformsolutions commented on #119
Duplicate of https://github.com/SimformSolutionsPvtLtd/audio_waveforms/issues/73. Check https://github.com/SimformSolutionsPvtLtd/audio_waveforms/issues/73#issuecomment-1200409384 comment to enable the microphone for the android emulator.

[2022-10-20 08:57] #119 closed

[2022-10-20 09:03] ujas-m-simformsolutions commented on #118
This is currently not possible to do. Can you please elaborate more on what is your requirement?

[2022-10-20 13:16] emrhnzngn commented on #118
I want the ripple effect to progress more smoothly after recording the sound, how can I do it?

[2022-10-20 16:43] guoz2013 commented on #108
How do you resolved the problem?

[2022-10-20 18:25] NafissaBHJ commented on #119
But I'm using a real device and not an emulator.

[2022-10-20 19:01] csacchetti commented on #108
I use normalizationFactor to obtain a good wave also in android

[2022-10-21 05:04] mahesh-gubbi commented on #117
Any Updates Team!

[2022-10-21 05:44] ujas-m-simformsolutions commented on #117
Most probably a duplicate of #107
@mahesh-gubbi try setting sampleRate to 44100 and bitrate to 48000.  If this doesn't work please your recorder controller config.

[2022-10-21 05:52] ujas-m-simformsolutions commented on #119
@NafissaBHJ This warning only comes when reported decibels are `Double.NEGATIVE_INFINITY` on the android side. This happens only for android emulators and this should happen for real devices. Are you using default config for this?

[2022-10-21 06:07] ujas-m-simformsolutions commented on #118
Oh, I see. That is actually not based on `updateFrequency` rather than it will require some different logic for updating the live wave. We will see this in the future if we are able to do this or not. Until then you can create a PR with the functionality you requested as we are open to any kind of contribution to this package.

[2022-10-21 13:08] NafissaBHJ commented on #119
Which  default config ?

[2022-10-21 15:07] alphatero commented on #116
@ujas-m-simformsolutions Hi, really need this, please fix it. Thanks.

[2022-10-25 14:59] Aneess333 opened #120 "Audio Waveforms doesn't read the initial value of the controller at first"
Let's suppose you have a player controller and your player controller current duration is 5 sec but in the waveform it will show no active waves. When we play the audio then it reads the current controller current duration then it seek to that position and play it from there. the main issue is with initial display of waves.

[2022-10-25 15:05] Aneess333 commented on #120
It creates an issue in list view. I am using list view and inside it there are audios.. but there is an option to record and add new audio.. So let's suppose you play and audio and stop it in center and then record a new audio and send it then after sorting it is taking 0 index in list.. so at the 0 index it is showing previous 0 index position in waveform although it have new controller.. so when

[2022-10-26 11:44] kido-luci opened #121 "When I pause and play the audio player, the wave is shown not correctly."
https://user-images.githubusercontent.com/41099231/198017627-11dc5e48-0ac0-4ee3-85e4-a87a59132aa6.mp4

[2022-10-28 20:56] massi-d commented on #116
Hello, do you know when you will make available the correction of this bug?

[2022-11-02 01:04] Klinsman21 opened #122 "Error loading audio file"
<img width="1139" alt="Captura de Tela 2022-11-01 às 22 04 12" src="https://user-images.githubusercontent.com/32601062/199370580-02754906-b180-4da5-9115-0ed990711e7b.png">

[2022-11-09 00:31] gideonoyekale commented on #122
Facing the same issue

[2022-11-10 14:27] emrhnzngn opened #124 "The wave effect does not move with the sound."
The wave effect does not move with the sound. Help?

[2022-11-11 05:28] enamulhaque028 commented on #124
I also faced the same issue both in android and iOS.

[2022-11-11 13:33] Ejazullah579 opened #125 "player.OnplayerStateChange only emits 2 states"
This listner is only emiting PlayerState.readingComplete and PlayerState.initialized. when will the stop pause functionality be added

[2022-11-14 16:44] Yahllil commented on #42
@Ujas-Majithiya Any idea when this would be merged and released?
This package looks awesome but I cannot use it if it supports only mobile because my (and I believe a lot of other) Flutter project supports both mobile & web platforms.

[2022-11-23 20:59] acgacgacgacg opened #127 "Feature request: support opus/ogg on iOS"
We have a project which audio is recorded on web, which results in the format of opus/ogg.
It will be really helpful if the player supports opus/ogg on iOS.
Thanks!

[2022-11-23 21:09] #127 closed

[2022-11-24 14:20] Sarat-1997 opened #128 "Delete voice message"
I had refered your code and it was very nice and clear but little doubt when we send a voice message in which it is not clear and how can we delete it?

[2022-11-25 06:11] elvisgn commented on #124
Having the same issue. On the last version of flutter (3.3.8) and audio_waveforms package (0.1.5+1).

The audio is complete and the progress bar is in sync with the recording, but the visualization is wrong.

[2022-11-25 23:36] Flajt opened #129 "Audio won't be recorded"
Issue found on IOS.
Target ios Version: 14
Package Version: latest
Android: not tested

What happends:
If you start recording, nothing will be recorded. Leaving you with an empty file of 0kb size

Output file type: aac

Errors: none

[2022-11-26 11:30] Flajt commented on #129
Seems to be a duplicate of #107

[2022-11-26 11:30] #129 closed

[2022-11-28 08:08] ujas-m-simformsolutions commented on #122
@Klinsman21 I see you have space in your name of the audio file, try removing the space.

[2022-11-28 08:13] ujas-m-simformsolutions commented on #124
There are 2 open PRs #126 #123  which might fix the sync issue and wrong visualization.

[2022-11-28 08:17] ujas-m-simformsolutions commented on #128
This isn't in the scope of the this plugin but you can use this,
[code]

[2022-11-28 08:17] #128 closed

[2022-11-28 08:26] ujas-m-simformsolutions commented on #125
Please share your implementation so that we can identify the issue.

[2022-11-28 08:27] ujas-m-simformsolutions commented on #121
We have 2 PRs pending which might fix this issue.

[2022-11-28 08:31] Sarat-1997 commented on #128
Thank you very much

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: ujas-m-simformsolutions ***@***.***>
Sent: Monday, November 28, 2022 1:47:27 PM
To: SimformSolutionsPvtLtd/audio_waveforms ***@***.***>
Cc: Sarat-1997 ***@***.***>; Author ***@***.***>
Subject: Re: [SimformSolutionsPvtLtd/audio_waveforms] Delete voice message (Issue #128)

Closed #128<https:

[2022-11-30 11:35] trustadekoye opened #130 "Unhandled Exception: Exception: PlatformException(, Failed to prepare recording, null, null)"
I get this error when I try to play an audio I just recorded, Both on Simulator and real device

/
void startRecording(
      RecorderController recorderController,
      PlayerController playerController1,
      BuildContext context,
      String? path,
      AnimationController controller) async {
    try {
      if (await recorderController.checkPermission()) {
        if (Platform.isAndroid) {

[2022-11-30 13:26] ujas-m-simformsolutions commented on #130
Duplicate of #107. Please follow [this](https://github.com/SimformSolutionsPvtLtd/audio_waveforms/issues/107#issuecomment-1258973451)

[2022-11-30 13:26] #130 closed

[2022-11-30 13:28] ujas-m-simformsolutions commented on #117
Closing this issue since issue seems to be resolved.

[2022-11-30 13:28] #117 closed

[2022-11-30 13:33] ujas-m-simformsolutions commented on #120
@Aneess333 sorry for late reply, If you can provide reproducible code then we might able to help you with this.

[2022-11-30 13:41] ujas-m-simformsolutions commented on #104
Closing this issue since provided audio doesn't have seek-able data.

If you think this a mistake then feel free to create a new issue.

[2022-11-30 13:41] #104 closed

[2022-11-30 13:43] #89 closed